@import url('https://fonts.googleapis.com/css?family=Roboto:200');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Raleway|Jua|Nunito|Open+Sans|Oxygen|Quicksand|Raleway|Tajawal|Ubuntu');



body{
	font-family: 'Roboto', sans-serif;
}
.fa{
	color: black;
}
a{
	color: black;
}